
<p-panel header="Stock Group List" class="Tabledata">
  <p-header>
    <button pButton type="button" style="float:right" icon="pi pi-plus" label="Add" class="ui-button-success" (click)="addStockGroup()"></button>
  </p-header>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Parent</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="stockGroupList">
          <tr *ngFor="let stock of stockGroupList; index as i;">
            <td>
              <a> {{stock.stockGroupName}}</a>
            </td>
            <td>{{stock.parentName}}</td>
            <td>{{stock.activeStatus}}</td>
            <td>
              <button pButton type="button" style="margin-right: 5px;" label="Edit" class="ui-button-success" (click)="editStockGroup(stock.stockGroup_ID)"></button>
              <button pButton type="button" label="Delete" class="ui-button-danger"></button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</p-panel>

