<app-navbar> </app-navbar>

<section>
  <div class="container-fluid">
    <div class="mainWrapper">
      <div class="wrraper">
        <div class="row">
          <div class="no-padding DashboardTop">
            <div class="col-sm-3 no-padding dashboardlscol">
              <div class="dashboard-volumn" routerLinkActive="active">
                <a routerLink="purchaseOrder">
                  <div class="col-sm-12 no-padding">
                    <div class="col-sm-4 no-padding dashboard-volumn-lst">
                      <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                    </div>
                    <div class="col-sm-8 no-padding dashboard-volumn-lst">
                      <p>No. 54512</p>
                      <h3>Purchase Order</h3>
                    </div>
                  </div>
                </a>

              </div>
            </div>
            <div class="col-sm-3 no-padding dashboardlscol">
              <div class="dashboard-volumn" routerLinkActive="active">
                <a routerLink="stockItems">
                  <div class="col-sm-12 no-padding">
                    <div class="col-sm-4 no-padding dashboard-volumn-lst">
                      <i class="fa fa-book" aria-hidden="true"></i>
                    </div>
                    <div class="col-sm-8 no-padding dashboard-volumn-lst">
                      <p>No. 4522</p>
                      <h3>Work Order</h3>
                    </div>
                  </div>
                </a>

              </div>
            </div>
            <div class="col-sm-3 no-padding dashboardlscol">
              <div class="dashboard-volumn" routerLinkActive="active">
                <a routerLink="stockGroups">
                  <div class="col-sm-12 no-padding">
                    <div class="col-sm-4 no-padding dashboard-volumn-lst">
                        <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                    </div>
                    <div class="col-sm-8 no-padding dashboard-volumn-lst">
                      <p>No. 522</p>
                      <h3>PO Authentication</h3>
                    </div>
                  </div>
                </a>

              </div>
            </div>
          </div>
        </div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>
