<p-panel header="Stock Items" class="Tabledata">
  <p-header>
    <button pButton type="button" style="float:right" icon="pi pi-plus" label="Add" class="ui-button-success"></button>
  </p-header>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Item Name</th>
          <th>Item Code</th>
          <th>Stock Group Name</th>
          <th>Unit Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stock of stockList; index as i;">
          <td>
            {{stock.itemName}}
          </td>
          <td>{{stock.itemCode}}</td>
          <td>{{stock.stockGroupName}}</td>
          <td>{{stock.unitName}}</td>
          <td>
            <button pButton type="button" style="margin-right: 5px;" label="Edit" class="ui-button-success" (click)="editStock(stock.stockItemID)"></button>
            <button pButton type="button" label="Delete" class="ui-button-danger" (click)="deleteStock(stock.stockItemID)"></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</p-panel>
