<!-- <app-filters (filterDates)='getTransactionList($event)'></app-filters> -->
<p-panel header="Good Receipt Note" class="Tabledata">
    <p-header>
        <button pButton type="button" style="float:right" icon="pi pi-plus"  label="Add Work Instruction" class="ui-button-success" routerLink="/production/addworkInstruction"></button>

    </p-header>
    <div class="table-responsive" *ngIf="workInstructionList">
        <table class="table">
            <thead>
              <tr>
                <th>Asembly Instruction Date</th>
                <th>Assembly Instruction NO.</th>
                <th>Assembler Name</th>
                <th>Batch No.</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <ng-container>
                <tr *ngFor="let item of workInstructionList; index as i ;">
                    <td>{{item.assemblyWorkInstructionDate}}</td>
                    <td>{{item.assemblyWorkInstructionNo}}</td>
                    <td>{{item.assemblerName}}</td>
                    <td>{{item.batchNo}}</td>
                    <td>
                        <a pButton type="button" label="View Details"  class="ui-button-info" target="_blank" (click)="getItemDetails(item.assemblyWorkInstructionID)"></a>
                    </td>
                </tr>
            </ng-container>
            </tbody>
        </table>
    </div>
    <div  *ngIf="!workInstructionList || workInstructionList.length < 1" style="text-align: center">
      <br/>
      No Records available !
      <br/><br/>
    </div>
  </p-panel>
