<p-panel header="Assembly Work Instruction" class="Tabledata">
  <p-header>
      <button pButton type="button" style="float:right" label="Start Scan" class="ui-button-success" (click)="getOpenBarcodeModal()"></button>
  </p-header>
  <p-progressSpinner *ngIf="showLoader"></p-progressSpinner>

  <form [formGroup]="workInstructionForm" (submit)="saveTransation(workInstructionForm.value)" class="formData">
    <div class="message error" *ngIf="showError">{{errorMsg}}</div>
    <div class="message success" *ngIf="showSuccess">{{successMsg}}</div>
    <div class="ui-g">
      <div class="ui-g-12">
        <div class="ui-g-3">
          <div class="form-group" style="margin:0">
            <span class="ui-float-label">
              <input type="text" formControlName="serialNo" pInputText>
              <label for="transactionNo">Serial No.</label>
            </span>
          </div>
        </div>
        <div class="ui-g-3" style="margin:0">
          <div class="form-group">
            <span class="ui-float-label">
              <input type="text" pInputText formControlName="finishgoodId">
              <label for="transactionNo">Finish Good Id</label>
            </span>
          </div>
        </div>

        <div class="ui-g-3">
            <div class="form-group" style="margin:0">
              <span class="ui-float-label">
                <input type="text" pInputText>
                <label for="transactionNo">Assembly Code</label>
              </span>
            </div>
          </div>
          <div class="ui-g-3" style="margin:0">
            <div class="form-group">
              <span class="ui-float-label">
                <input type="text" pInputText >
                <label for="transactionNo">Assembly Name</label>
              </span>
            </div>
          </div>

      </div>
    </div>
  </form>
</p-panel>

<p-panel header="Item Work Details" class="Tabledata">
    <!-- <p-header>
        <button pButton type="button" style="float:right" icon="pi pi-plus"  label="Add Work Instruction" class="ui-button-success" routerLink="/production/addworkInstruction"></button>

    </p-header> -->
    <div class="table-responsive" *ngIf="workInstructionItemList">
        <table class="table">
            <thead>
              <tr>
                <th>Instruction SR. No.</th>
                <th>Instruction Description</th>
                <th>Item Desc.</th>
                <th>stockItemID</th>
            </tr>
            </thead>
            <tbody>
            <ng-container>
                <tr *ngFor="let item of workInstructionItemList | slice: 0:currentIndex; index as i;">
                    <td style="text-align: center">{{item.instructionSRNo}}</td>
                    <td>{{item.instructiondescription}}</td>
                    <td>{{item.itemDesc}}</td>
                    <td>{{item.stockItemID}}</td>
                </tr>
                <tr *ngIf="workInstructionItemList.length > 0">
                  <td colspan="5" class="text-right" style="background:#f6f6f6; padding-top:20px;">
                    <a pButton type="button" label="Update" style="width:100px; padding:5px; float:right; font-size:16px; margin-right:10px; "
                     class="ui-button-success right" (click)="generateReport(item.transactionID)"></a>
                    <div class="form-group" style="width:100px; float:right; margin-right:10px; margin-bottom:0">
                      <span class="ui-float-label">
                        <input type="text" pInputText #quantity >
                        <label for="transactionNo">Quantity</label>
                      </span>
                    </div>
                    <div class="form-group" style="width:250px; float:right; margin-right:10px; margin-bottom:0">
                      <span class="ui-float-label">
                        <input type="text" pInputText #serialNo >
                        <label for="transactionNo">Serial No.</label>
                      </span>
                    </div>
                  </td>
                </tr>
            </ng-container>
            </tbody>
        </table>
    </div>
    <div  *ngIf="!workInstructionItemList || workInstructionItemList.length < 1" style="text-align: center">
      <br/>
      No Records available !
      <br/><br/>
    </div>
  </p-panel>



    <p-dialog header="Barcode Scan Dialog" [(visible)]="displayworksModal" [modal]="true" [responsive]="true"
      [style]="{width: '350px', minWidth: '200px'}" [minY]="70" [maximizable]="true" [baseZIndex]="10000">

      <p style="background-color:#ffcaca; padding:0 5px; line-height:34px; border-radius:4px;">{{plValidationMsg}}</p>
      <p style="background-color:#beefc8; padding:0 5px; line-height:34px; border-radius:4px; color:#18722b;">
        {{BarcodeSuccessMsg}}</p><br />
      <div class="form-group">
        <span class="ui-float-label">
          <input type="text" pInputText id="barCode" #barCode />
          <label for="barCode">Barcode</label>
        </span>
      </div>

      <p-footer class="text-center">
        <button type="button" pButton (click)="displayworksModal=false" label="Cancel"
          class="ui-button-secondary"></button>
        <button type="button" pButton (click)="startScan()" label="Scan"></button>
      </p-footer>
    </p-dialog>
