
<p-progressSpinner *ngIf="showLoader"></p-progressSpinner>

<p-panel header="FG Add/Edit Form" class="Tabledata" *ngIf="type=='fg'">
    <p-header>
        <button (click)="loadItems()" pButton type="button" style="float:right" icon="pi pi-plus" label="Load Items" class="ui-button-success"></button>
        <button (click)="loadPrevPlan()" pButton type="button" style="float:right" icon="pi pi-plus" label="Load Prev FG Plan" class="ui-button-success"></button>
    </p-header>
    <form [formGroup]="cForm" (ngSubmit)="saveFg(cForm.value)" class="formData">
      <!-- <div class="message error" *ngIf="showError">Updatation/creation failed .</div>
      <div class="message success" *ngIf="showSuccess">You have Updated/created successfully.</div> -->
  
      <div class="ui-g">
        <div class="ui-g-4">
          <div class="form-group">
            <span class="ui-float-label">
              <p-calendar formControlName="planDate" dateFormat="dd-mm-yy" [(ngModel)]="date1" [showIcon]="true"></p-calendar>
              <label for="planDate">Plan Date</label>
            </span>
  
            <div *ngIf="planDate.invalid && (planDate.dirty || planDate.touched)" class="alert alert-danger">
              <div *ngIf="planDate.errors.required">
                Plan date is required.
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="ui-g-4">
            <div class="form-group">
                <span class="ui-float-label">
                <input type="number" formControlName="prevPlanID" pInputText id="prevPlanID">
                <label for="periodToDate">Prev Plan ID</label>
                </span>
            </div>
        </div> -->
      </div>

      <div class="ui-g">
       <div class="ui-g-4">
            <div class="form-group">
                <span class="ui-float-label">
                <p-calendar formControlName="periodFromDate" dateFormat="dd-mm-yy" [(ngModel)]="date2" [showIcon]="true"></p-calendar>
                <label for="periodFromDate">Period From Date</label>
                </span>
            </div>
        </div>

        <div class="ui-g-4">
            <div class="form-group">
                <span class="ui-float-label">
                <p-calendar formControlName="periodToDate" dateFormat="dd-mm-yy" [(ngModel)]="date3" [showIcon]="true"></p-calendar>
                <label for="periodToDate">Period To Date</label>
                </span>
            </div>
        </div>
      </div>

      <div style="text-align: right;margin-bottom: -10px;"> 
        <button pButton type="button" icon="fa fa-file-excel-o" label="Export" class="ui-button-success" (click)="exportAsXLSX()"></button>
        <button pButton type="button" icon="fa fa-plus" class="ui-button-success" (click)="addFGItems()" label="Add Row"></button>
      </div>

    <fieldset  formArrayName="fgPlanDetails" style="overflow-x:auto; min-height:300px">
        <legend>Item Details</legend>    
        <div style="width:150%;" >
        <table class="fieldTable">
            <thead>
            <th width="20%">Stock Item</th>
            <!-- <th>Prev Plan ID</th> -->
            <th width="5%">Priority</th>
            <!-- <th width="7%">Current Plan Qty</th> -->
            <th width="10%">Current Month Qty</th>
            <th width="10%">Next Month Qty</th>
            <th width="10%">Order Month Qty</th>
            <!-- <th width="7%">Future Required Qty</th> -->
            <th width="10%">Future Required Length</th>
            <th width="10%">Future Required Stops</th>
            <th width="10%">FG Stock Qty</th>
            <th width="10%">Net Required Qty</th>
            
            <!-- <th width="6%">Cumulative Length</th> -->
            <!-- <th width="6%">Cumulative Stops</th> -->
            <th width="5%" style="text-align:center">Actions</th>
            </thead>
            <tbody>
            <tr  *ngFor="let ctrl of cForm.get('fgPlanDetails').controls; let i = index;" [formGroupName]="i">
            <!-- <tr> -->
                <td class="specialDropdown" style="text-align: left;">
                    <!-- <p-dropdown [options]="allStockItems" formControlName="stockItemID" placeholder="Stock Item" filter="true" [style]="{'width':'95%'}">
                            </p-dropdown> -->
                <p-autoComplete
                    formControlName="stockItemDesc"
                    [suggestions]="filteredItems"
                    (completeMethod)="filterItems($event)"
                    (onSelect)="getSelectedVal($event, 'fgPlanDetails',i)"
                    [size]="30"
                    placeholder="Enter ItemCode To Search"
                    [minLength]="1"
                    styleClass="wid100"
                    >
                    <input type="text" formControlName="stockItemID" pInputText style="visibility: hidden; height: 0; width: 0; font-size: 0;">
                        {{stockItemDesc}}
                </p-autoComplete>            
                </td>
                <td><input type="number" formControlName="priority" pInputText id="priority"></td>
                <!-- <td><input type="number" formControlName="prevPlanID" pInputText id="prevPlanID"></td> -->
                <!-- <td><input type="number" formControlName="currentPlanQty" pInputText id="currentPlanQty"></td> -->
                <td><input type="number" formControlName="currentMonthQty" pInputText id="currentMonthQty"></td>
                <td><input type="number" formControlName="nextMonthQty" pInputText id="nextMonthQty"></td>
                <td><input type="number" formControlName="orderMonthQty" pInputText id="orderMonthQty"></td>
                <!-- <td><input type="number" formControlName="futureRequiredQty" pInputText id="futureRequiredQty"></td> -->
                <td><input type="number" formControlName="futureRequiredLength" pInputText id="futureRequiredLength"></td>
                <td><input type="number" formControlName="futureRequiredStops" pInputText id="futureRequiredStops"></td>
                <td><input type="number" formControlName="fgStockQty" pInputText id="fgStockQty"></td>
                <td><input type="number" formControlName="netRequiredQty" pInputText id="netRequiredQty"></td>
                <!-- <td><input type="number" formControlName="cumulativeLength" pInputText id="cumulativeLength"></td>
                <td><input type="number" formControlName="cumulativeStops" pInputText id="cumulativeStops"></td> -->
                <td style="text-align:center" >
                   <!--  <button pButton type="button" icon="fa fa-plus" class="ui-button-success" (click)="addFGItems()"></button> -->
                    <button pButton type="button" icon="fa fa-trash-o" class="ui-button-danger" [disabled]="i<1" (click)="removeFGItems(i)"></button>
                </td>
            </tr>
            </tbody>
        </table>
        </div>
    </fieldset>
    <br/>

      <p class="fixed-footer">
        <button pButton type="submit" label="Submit" class="ui-button-success" [disabled]="!cForm.valid" style="margin-right: 10px;"></button>
        <button pButton type="button" label="Cancel" class="ui-button-secondary"></button>
      </p>
    </form>
</p-panel>


<p-panel header="RMQ Add/Edit Form" class="Tabledata" *ngIf="type=='rmq'">
    <p-header>
        <!-- <button pButton type="button" style="float:right" icon="pi pi-plus" label="Load Items" class="ui-button-success"></button>
        <button pButton type="button" style="float:right" icon="pi pi-plus" label="Load Prev FG Plan" class="ui-button-success"></button> -->
    </p-header>
    <form [formGroup]="cForm" (ngSubmit)="saveRmq(cForm.value)" class="formData">
      <!-- <div class="message error" *ngIf="showError">Updatation/creation failed .</div>
      <div class="message success" *ngIf="showSuccess">You have Updated/created successfully.</div> -->
  
      <div class="ui-g">
        <div class="ui-g-4">
          <div class="form-group">
            <span class="ui-float-label">
              <p-calendar formControlName="rmqDate" dateFormat="dd-mm-yy" [(ngModel)]="date1" [showIcon]="true"></p-calendar>
              <label for="rmqDate">RMQ Date</label>
            </span>
  
            <div *ngIf="rmqDate.invalid && (rmqDate.dirty || rmqDate.touched)" class="alert alert-danger">
              <div *ngIf="rmqDate.errors.required">
                RMQ date is required.
              </div>
            </div>
          </div>
        </div>
        <div class="ui-g-4">
            <div class="form-group">
                <span class="ui-float-label">
                <input type="number" formControlName="planID" pInputText id="planID">
                <label for="planID">planID</label>
                </span>
                <div *ngIf="planID.invalid && (planID.dirty || planID.touched)" class="alert alert-danger">
                <div *ngIf="planID.errors.required">
                    Plan ID is required.
                </div>
                </div>
            </div>
        </div>
        
      </div>
     
        <div style="text-align: right;margin-bottom: -10px;">
            <button pButton type="button" icon="fa fa-file-excel-o" label="Export" class="ui-button-success" (click)="exportAsXLSX()"></button>
            <button pButton type="button" style="margin-right: 5px;" icon="fa fa-plus" class="ui-button-success" (click)="addRMQItems()" label="Add Row"></button>
        </div>
      <fieldset formArrayName="rmqDetail" style="overflow-x:auto; min-height:300px">
        <legend>Item Details</legend>    
        <div style="width:200%;">
        <table class="fieldTable">
            <thead>
            <th width="20%">Stock Item</th>
            <th width="7%">Store Stock Qty</th>
            <th width="7%">pending Order Qty</th>
            <th width="7%">Current Month Qty</th>
            <th width="7%">Next Month Qty</th>
            <th width="7%">Order Month Qty</th>
            <th width="7%">Required Qty</th>
            <th width="4%">Wip Qty</th>
            <th width="4%">Lead Time</th>
            <th width="4%">MO Qty</th>
            <th width="7%">Net Required Qty</th>
            <th width="14%">Ledger </th>
            <th width="5%" style="text-align:center">Actions</th>
            </thead>
            <tbody>
            <tr  *ngFor="let ctrl of cForm.get('rmqDetail').controls; let i = index;" [formGroupName]="i">
            <!-- <tr> -->
                <td class="specialDropdown" style="text-align: left;">
                    <!-- <p-dropdown [options]="allStockItems" formControlName="stockItemID" placeholder="Stock Item" filter="true" [style]="{'width':'95%'}">
                    </p-dropdown> -->
                <p-autoComplete
                    formControlName="stockItemDesc"
                    [suggestions]="filteredItems"
                    (completeMethod)="filterItems($event)"
                    (onSelect)="getSelectedVal($event, 'rmqDetail',i)"
                    placeholder="Enter ItemCode To Search"
                    [minLength]="1"
                    [size]="30"
                    styleClass="wid100"
                  >
                  <input type="text" formControlName="stockItemID" pInputText style="visibility: hidden; height: 0; width: 0; font-size: 0;">
                      {{stockItemDesc}}
                  </p-autoComplete>
                </td>
                <td><input type="number" formControlName="storeStockQty" pInputText id="storeStockQty"></td>
                <td><input type="number" formControlName="pendingOrderQty" pInputText id="pendingOrderQty"></td>
                <td><input type="number" formControlName="currentMonthQty" pInputText id="currentMonthQty"></td>
                <td><input type="number" formControlName="nextMonthQty" pInputText id="nextMonthQty"></td>
                <td><input type="number" formControlName="orderMonthQty" pInputText id="orderMonthQty"></td>
                <td><input type="number" formControlName="requiredQty" pInputText id="requiredQty"></td>
                <td><input type="number" formControlName="wipQty" pInputText id="wipQty"></td>
                <td><input type="number" formControlName="leadTime" pInputText id="leadTime"></td>
                <td><input type="number" formControlName="moQty" pInputText id="moQty"></td>
                <td><input type="number" formControlName="netRequiredQty" pInputText id="netRequiredQty"></td>
                <td style="text-align: left;">
                    <p-dropdown [options]="ledgerList" [style]="{'width':'95%'}" formControlName="ledgerID"></p-dropdown>
                </td>
                <!-- <td><input type="number" formControlName="ledgerID" pInputText id="ledgerID"></td>
                <td><input type="number" formControlName="supplierName" pInputText id="supplierName"></td> -->
                <td style="text-align:center">
                    <!-- <button pButton type="button" style="margin-right: 5px;" icon="fa fa-plus" class="ui-button-success" (click)="addRMQItems()"></button> -->
                    <button pButton type="button" icon="fa fa-trash-o" class="ui-button-danger" [disabled]="i<1" (click)="removeRMQItems(i)"></button>
                </td>
            </tr>
            </tbody>
        </table>
        </div>
    </fieldset>
    <br/>

      <p class="fixed-footer">
        <button pButton type="submit" label="Submit" class="ui-button-success" [disabled]="!cForm.valid" style="margin-right: 10px;"></button>
        <button pButton type="button" label="Cancel" class="ui-button-secondary"></button>
      </p>
    </form>
</p-panel>


