.Tabledata { }
.formData{padding: 30px  20px;}
.fieldTable tr td, .fieldTable tr th{ padding: 5px 2px;}
.fieldTable tr td input{ width: 100%;}
.fieldTable td .ui-calendar input.ui-inputtext { width: 70%; text-align: left;}
fieldset { margin-bottom: 20px;}
.ui-widget-header{ font-size: 18px!important; }
.Tabledata table tr td{ text-align: left;}
.verified{ background-color:#a4e9a4;}
.pending{ background-color: #FFF;}
textarea{ font-size: 12px; width: 100%; line-height: 12px; min-height: 60px;}

