<p-progressSpinner *ngIf="showLoader"></p-progressSpinner>
<form [formGroup]="transactionForm" class="formData">
  <div class="message error" *ngIf="showError">{{errorMsg}}</div>
  <div class="message success" *ngIf="showSuccess">{{successMsg}}</div>

  <div class="ui-g">
    <div class="ui-g-9">

      <div class="ui-g-6">
        <div class="form-group">
          <span class="ui-float-label">
            <input type="text" formControlName="transactionNo" pInputText id="transactionNo" disabled>
            <label for="transactionNo">Transaction No.</label>
          </span>
        </div>
      </div>

      <div class="ui-g-6">
        <div class="form-group">
          <span class="ui-float-label">
            <p-calendar [(ngModel)]="date3" [showIcon]="true" dateFormat="dd-mm-yy"
              (onSelect)="getSelectedDate($event,'transactionDate')" formControlName="transactionDate"></p-calendar>
            <label for="transactionDate">Transaction Date</label>
          </span>
        </div>
      </div>
      <div class="ui-g-6" *ngIf="showSupplier">
        <div class="form-group">
          <span class="ui-float-label">
            <p-dropdown [options]="supplierList" formControlName="ledgerID" (onChange)="getSupplierDetails($event)"
              placeholder="Suppliers" filter="true" [style]="{'width':'95%'}"></p-dropdown>
          </span>
        </div>
      </div>

      <div class="ui-g-6" *ngIf="showLedger">
        <div class="form-group">
          <span class="ui-float-label">
            <p-dropdown [options]="customerList" formControlName="ledgerID" (onChange)="getCustomerDetails($event)"
              placeholder="Customer" filter="true" [style]="{'width':'95%'}"></p-dropdown>
          </span>
        </div>
      </div>

      <div class="ui-g-6" *ngIf="showLedger">
        <div class="form-group">
          <span class="ui-float-label">
            <p-dropdown [options]="ledgerLocationList" placeholder="Client Location" formControlName="ledaddid"
              filter="true" [style]="{'width':'95%'}"></p-dropdown>
          </span>
        </div>
      </div>




      <div class="ui-g-6" *ngIf="transationLinkRef">
        <div class="form-group">
          <span class="ui-float-label">
            <p-dropdown [options]="POpendingList" filter="true" formControlName="transactionLinkID"
              (onChange)="getSelectLinkRefPL($event)" placeholder="Commission No." [style]="{'width':'95%'}">
            </p-dropdown>
          </span>
        </div>
      </div>

      <div class="ui-g-6" *ngIf="transationLinkRefNamePO">
        <div class="form-group">
          <span class="ui-float-label">
            <p-dropdown [options]="POpendingList" filter="true" formControlName="transactionLinkID"
              (onChange)="getSelectLinkRef($event)" placeholder="PO No." [style]="{'width':'95%'}"></p-dropdown>
          </span>
        </div>
      </div>



      <div class="ui-g-6" *ngIf="transationLinkRefInput">
        <div class="form-group">
          <span class="ui-float-label">
            <input type="text" formControlName="transactionLinkRef" pInputText id="transactionLinkID">
            <label for="transactionLinkRef">Commission No.</label>
            <!-- <p-dropdown [options]="POpendingList" formControlName="transactionLinkID"
               (onChange)="getSelectLinkRef($event)" placeholder="Commission No." [style]="{'width':'95%'}" ></p-dropdown> -->
          </span>
        </div>
      </div>



      <div class="ui-g-6" *ngIf="showPO">
        <div class="form-group">
          <span class="ui-float-label">
            <input type="text" formControlName="poNo" pInputText id="poNo ">
            <label for="poNo">PO Number</label>
          </span>
        </div>
      </div>

      <div class="ui-g-6" *ngIf="showCurrency">
        <div class="form-group">
          <span class="ui-float-label">
            <p-dropdown [options]="currencyList" formControlName="currencyID" placeholder="Currency"></p-dropdown>
          </span>
        </div>
      </div>

      <div class="ui-g-6" *ngIf="showLocation">
        <div class="form-group">
          <span class="ui-float-label">
            <p-dropdown [options]="locationList" formControlName="locationID" placeholder="Location Name"></p-dropdown>
          </span>
        </div>
      </div>

      <div class="ui-g-6">
        <div class="form-group">
          <span class="ui-float-label">
            <p-dropdown [options]="transactionTypeSeriesList" [(ngModel)]="selectedSeries"
              formControlName="transactionSeriesID" placeholder="Transaction Series"></p-dropdown>
            <!-- <label for="transaction_Amount">Total Amount</label> -->
          </span>
        </div>
      </div>

      <!-- <div class="ui-g-6" *ngIf="showBarcode4Pl">
        <div class="form-group">
          <span class="ui-float-label">
              <input type="text" pInputText (input)="getBarcode($event)" id="barCode" #barCode1 />
            <label for="barCode">Barcode</label>
          </span>
        </div>
      </div>

      <div class="ui-g-6" *ngIf="showBarcode4Fg">
        <div class="form-group">
          <span class="ui-float-label">
              <input type="text" pInputText (input)="getBarcodeFg($event)" id="barCode" #barCode1 />
            <label for="barCode">Barcode</label>
          </span>
        </div>
      </div> -->

    </div>
    <div class="ui-g-3">
      <div
        style="border: 3px solid #ddd; width: 100%; min-height: 115px; text-align: center; line-height: 115px;  border-radius: 10px;">
        <h4 style="vertical-align: middle; display: inline-block;">
          Total Amount: <br />
          <span style="font-size:42px;">{{totalAmount}}</span>
        </h4>
      </div>

      <br />
      <p class="text-center" *ngIf="showBarcode4Pl || showBarcode4Fg"><button pButton type="button"
          class="ui-button-success" label="Scan Barcode" (click)="showLengthBarcodeDialog()"></button></p>

    </div>
  </div>

  <fieldset *ngIf="transItemDetails" formArrayName="transItemDetails">
    <legend>
      Item Details
    </legend>
    <table width="100%" class="fieldTable">
      <thead>
        <th width="4%">S.No.</th>
        <th width="30%">Item Name</th>
        <th width="3%">&nbsp;</th>
        <th width="10%" *ngIf="showLength4So">Length</th>
        <th width="10%" *ngIf="showLength4So">Stops</th>
        <th width="10%" *ngIf="showScannedQty">Scanned Qty</th>
        <th width="10%" *ngIf="GrnInput">Order Qty.</th>
        <th width="10%" *ngIf="GrnInput">Challan Qty.</th>
        <th width="10%">Qty</th>
        <th width="10%" *ngIf="showBoxCode">Box Code</th>
        <th width="10%" *ngIf="!showScannedQty">Rate</th>
        <th width="10%" *ngIf="!showScannedQty">Amount</th>
        <th width="10%" style="text-align:center; min-width: 130px;">Actions</th>
      </thead>
      <tbody>
        <tr *ngFor="let ctrl of transactionForm.get('transItemDetails').controls; let i = index;" [formGroupName]="i">
          <td>{{i+1}}</td>
          <td class="specialDropdown" style="text-align: left;">

            <p-autoComplete formControlName="stockItemDesc" [suggestions]="filteredItems"
              (completeMethod)="filterItems($event)" (onSelect)="getSelectedVal($event, 'transItemDetails', i)"
              [size]="30" placeholder="Enter ItemCode To Search" [minLength]="1" styleClass="wid100"
              [disabled]="showActionBtn" [dropdown]="true">
              {{itemName}}
            </p-autoComplete>

            <input type="text" formControlName="stockitemID" pInputText
              style="visibility: hidden; height: 0; width: 0; font-size: 0;">
          </td>
          <td style="text-align: left;">
            <button pButton type="button" class="ui-button-success" label="..." (click)="displayItemDescDialog=true"
              pTooltip="Click to fill Items Additional Description." tooltipPosition="top"></button>

            <p-dialog header="Add Item Description" [(visible)]="displayItemDescDialog" [modal]="true"
              [responsive]="true" [style]="{width: '350px', minWidth: '200px'}" [minY]="70" [maximizable]="true"
              [baseZIndex]="10000">
              <div class="form-group">
                <span class="ui-float-label">
                  <textarea [rows]="4" style="width:100%" pInputTextarea
                    formControlName="transactionItem_AdditionalDesciption"></textarea>
                  <label for="itemDesc">Enter Additional Desc.</label>
                </span>
              </div>
              <p-footer>
                <button type="button" pButton (click)="displayItemDescDialog=false" label="Cancel"
                  class="ui-button-secondary"></button>
                <button type="button" pButton (click)="displayItemDescDialog=false" label="Add"></button>
              </p-footer>
            </p-dialog>

            <!-- <textarea [rows]="2" style="width:98%" pInputTextarea  formControlName="transactionItem_AdditionalDesciption" placeholder="Additional Desc."></textarea> -->
          </td>

          <td *ngIf="showLength4So"><input type="text" formControlName="itemLength" pInputText disabled="disabled">
          </td>
          <td *ngIf="showLength4So"><input type="text" formControlName="itemStops" pInputText disabled="disabled">
          </td>

          <td *ngIf="showScannedQty"><input type="text" formControlName="itemReceived_Qty" pInputText
              disabled="disabled" [class.verified]="equalQtyList[i]===i && showScannedQty"
              [class.pending]="equalQtyList[i]!==i && showScannedQty"></td>

          <td *ngIf="GrnInput"><input type="text" formControlName="itemPending_Qty" pInputText disabled="disabled">
          </td>

          <td *ngIf="GrnInput"><input type="text" formControlName="itemChallan_Qty" pInputText></td>

          <td><input type="text" formControlName="itemQty" pInputText (keyup)="getAmount()"
              [class.verified]="equalQtyList[i]===i && showScannedQty"
              [class.pending]="equalQtyList[i]!==i && showScannedQty"></td>

          <td *ngIf="showBoxCode"><input type="text" formControlName="boxCode" pInputText
              [attr.disabled]="showActionBtn == true? true : null"></td>

          <td *ngIf="!showScannedQty"><input type="text" formControlName="itemRate" pInputText (keyup)="getAmount()"
              [attr.disabled]="showActionBtn == true? true : null"></td>

          <td *ngIf="!showScannedQty"><input type="text" formControlName="itemAmount" pInputText (keyup)="getAmount()"
              [attr.disabled]="showActionBtn == true? true : null"></td>

          <td style="text-align:center">
            <button pButton type="button" *ngIf="!showActionBtn" icon="fa fa-plus" class="ui-button-success"
              (click)="addItemDetails()"></button>

            <button pButton type="button" *ngIf="!showActionBtn" icon="fa fa-trash-o" class="ui-button-danger"
              [disabled]="i < 1" (click)="deleteItemDetails(i)"></button>

            <input type="hidden" formControlName="itemBarCodeApplicableStatus" />
            <!-- <i class="fa fa-hourglass-end" aria-hidden="true" *ngIf="!ctrl.itemBarCodeApplicableStatus && showActionBtn"></i> -->
            <!-- <button pButton type="button" *ngIf="ctrl.itemBarCodeApplicableStatus && showActionBtn" disabled="disabled" icon="fa fa-check" title="Verified" class="ui-button-success"></button> -->
            <button pButton type="button" *ngIf="barCodeApplicableStatus.length > 0"  (click)="showGrnBarcodeDialog(i)" icon="fa fa fa-barcode"
              title="Scan Barcode" class="ui-button-success barcodeBtn"></button>
          </td>

        </tr>
      </tbody>
    </table>
  </fieldset>
  <fieldset *ngIf="transLedgerDetails" formArrayName="transLedgerDetails">
    <legend>
      Ledger Details
    </legend>
    <div>
      <table width="100%" class="fieldTable">
        <thead>
          <th width="15%">Tax Ledger Name</th>
          <th width="15%">Tax Rate</th>
          <th width="15%">Amount</th>
          <th width="10%" style="text-align:center">Actions</th>
        </thead>
        <tbody>
          <tr *ngFor="let ctrl of transactionForm.get('transLedgerDetails').controls; let i = index;"
            [formGroupName]="i">
            <td style="text-align: left;">
              <p-dropdown [options]="gstTaxList" formControlName="ledgerID" filter="true" #taxSelect
                placeholder="Tax Ledger Name" [style]="{'width':'95%'}" (onChange)="getTaxRate(taxSelect, i);">
              </p-dropdown>
            </td>
            <td><input type="text" formControlName="taxRate" pInputText></td>
            <td><input type="text" formControlName="ledgerAmount" pInputText (keyup)="getAmount()"></td>

            <td align="center">
              <button pButton type="button" icon="fa fa-plus" class="ui-button-success"
                (click)="addItemLedger()"></button>
              <button pButton type="button" icon="fa fa-trash-o" class="ui-button-danger" [disabled]="i < 1"
                (click)="deleteItemLedger(i)"></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </fieldset>

  <fieldset *ngIf="transPOTerms" formArrayName="transPOTerms">
    <legend>
      PO Terms
    </legend>
    <div>
      <table width="100%" class="fieldTable">
        <thead>
          <th width="20%">
            Due Date
          </th>
          <th width="10%">
            Transporter
          </th>
          <th width="10%">
            Supplier Ref
          </th>
          <th width="15%">
            Delivery Terms
          </th>
          <th width="15%">
            Payment Terms
          </th>
          <th width="15%">
            Packing Terms
          </th>
          <th width="15%">
            Freight Terms
          </th>
        </thead>
        <tbody>
          <tr *ngFor="let ctrl of transactionForm.get('transPOTerms').controls; let i = index;" [formGroupName]="i">
            <td style="text-align: left">
              <p-calendar [(ngModel)]="date5" [showIcon]="true" dateFormat="dd-mm-yy"
                (onSelect)="getSelectedDate($event,'transactionDueDate')" formControlName="transactionDueDate">
              </p-calendar>
            </td>
            <td><input type="text" formControlName="transactionTransporter" pInputText></td>
            <td><input type="text" formControlName="transctionSupplierRef" pInputText></td>
            <td>
              <textarea pInputTextarea formControlName="transactionDeilveryTerms"></textarea>
              <!-- <input type="text" formControlName="transactionDeilveryTerms" pInputText></td> -->
            <td>
              <textarea pInputTextarea formControlName="transactionPaymentTerms"></textarea>
              <!-- <input type="text" formControlName="transactionPaymentTerms" pInputText></td> -->
            <td>
              <textarea pInputTextarea formControlName="transactionPackingTerms"></textarea>
              <!-- <input type="text" formControlName="transactionPackingTerms" pInputText></td> -->
            <td>
              <textarea pInputTextarea formControlName="transactionFreightTerms"></textarea>
              <!-- <input type="text" formControlName="transactionFreightTerms" pInputText></td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </fieldset>


  <fieldset *ngIf="transBoxDetails" formArrayName="transBoxDetails">
    <legend>
      Box Details
    </legend>
    <div>
      <table width="100%" class="fieldTable">
        <thead>
          <th width="28%">Stock Item</th>
          <th width="12%">Quantity</th>
          <th width="12%">Rate</th>
          <th width="12%">Amount</th>
          <th width="12%">Box Serial No</th>
          <th width="12%">Box Position</th>
          <th width="12%">SCHREF</th>
        </thead>
        <tbody>
          <tr *ngFor="let ctrl of transactionForm.get('transBoxDetails').controls; let i = index;" [formGroupName]="i">
            <td>

              <!-- <p-dropdown [options]="itemMasterList" formControlName="stockitemID" placeholder="Stock Item" filter="true" [style]="{'width':'300px'}">
                  </p-dropdown> -->
              <p-autoComplete [showTransitionOptions]="'10ms'" [ui-autocomplete-loader]="true"
                [hideTransitionOptions]="'10ms'" formControlName="stockItemDesc" [suggestions]="filteredItems"
                (completeMethod)="filterItems($event)" (onSelect)="getSelectedVal($event, 'transBoxDetails', i)"
                [size]="30" placeholder="Item Name" [minLength]="1" [style]="{'width':'100%'}">
                {{itemName}}
              </p-autoComplete>
              <input type="text" formControlName="stockitemID" pInputText
                style="visibility: hidden; height: 0; width: 0; font-size: 0;">
            </td>
            <td><input type="text" formControlName="itemQty" pInputText></td>
            <td><input type="text" formControlName="itemRate" pInputText></td>
            <td><input type="text" formControlName="itemAmount" pInputText></td>
            <td><input type="text" formControlName="transactionBoxSerialNo" pInputText></td>
            <td><input type="text" formControlName="boxPosition" pInputText></td>
            <td><input type="text" formControlName="SCHREF" pInputText></td>
            <!-- <td align="center">
                <button pButton type="button" icon="fa fa-plus" class="ui-button-success" (click)="addItemLedger()"></button>
                <button pButton type="button" icon="fa fa-trash-o" class="ui-button-danger" (click)="deleteItemLedger(i)"></button>
              </td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </fieldset>

  <fieldset *ngIf="transBatchDetails" formArrayName="transBatchDetails">
    <legend>
      Batch Details
    </legend>
    <div style="max-height:200px; overflow:auto">
      <table width="100%" class="fieldTable">
        <thead>
          <th>Batch No.</th>
          <th>Item Name</th>
          <th>Quantity</th>
          <th width="10%" style="text-align:center" *ngIf="!showActionBtn">Actions</th>
        </thead>
        <tbody >
          <tr *ngFor="let ctrl of transactionForm.get('transBatchDetails').controls; let i = index;"
            [formGroupName]="i">
            <td><input type="text" formControlName="batchNo" pInputText disabled="disabled"></td>
            <td><input type="text" formControlName="itemCode" pInputText disabled="disabled"></td>
            <td><input type="text" formControlName="qty" pInputText disabled="disabled"></td>
            <td align="center">
              <button pButton type="button" icon="fa fa-plus" *ngIf="!showActionBtn" class="ui-button-success" (click)="addBatch()"></button>
              <button pButton type="button" icon="fa fa-trash-o" class="ui-button-danger" [disabled]="i < 1"
                (click)="removeBatch(i)"></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </fieldset>

  <fieldset *ngIf="transGRNTerms" formArrayName="transGRNTerms">
    <legend>
      GRN Terms
    </legend>
    <div>
      <table width="100%" class="fieldTable">
        <thead>
          <th width="14.2%">Inward No.</th>
          <th width="14.2%">Inward Date.</th>
          <th width="14.2%">Gate Entry No & Date</th>
          <th width="14.2%">DC No.</th>
          <th width="14.2%">DC Date</th>
          <th width="14.2%">Invoice No.</th>
          <th width="14.2%">Invoice Date</th>
        </thead>
        <tbody>
          <tr *ngFor="let ctrl of transactionForm.get('transGRNTerms').controls; let i = index;" [formGroupName]="i">
            <td><input type="text" formControlName="inwardNo" pInputText></td>
            <td><input type="text" formControlName="inwardDate" pInputText></td>
            <td><input type="text" formControlName="transporter" pInputText></td>
            <td><input type="text" formControlName="dcNo" pInputText></td>
            <td><input type="text" formControlName="dcDate" pInputText></td>
            <td><input type="text" formControlName="invoiceNo" pInputText></td>
            <td><input type="text" formControlName="invoiceDate" pInputText></td>
          </tr>
        </tbody>
      </table>
    </div>
  </fieldset>

  <fieldset *ngIf="transInvoiceTerms" formArrayName="transInvoiceTerms">
    <legend>
      Invoice Terms
    </legend>
    <div>
      <table width="100%" class="fieldTable">
        <thead>
          <th width="16.6%">Ledger ID.</th>
          <th width="16.6%">LR NO.</th>
          <th width="16.6%">LR Date</th>
          <th width="16.6%">GSTIN</th>
          <th width="16.6%">GST Eway Bill No.</th>
          <th width="16.6%">GST EWay Bill Date</th>
        </thead>
        <tbody>
          <tr *ngFor="let ctrl of transactionForm.get('transInvoiceTerms').controls; let i = index;"
            [formGroupName]="i">
            <td><input type="text" formControlName="transporterLedgerID" pInputText></td>
            <td><input type="text" formControlName="transporterLRNO" pInputText></td>
            <td><input type="text" formControlName="transporterLRDate" pInputText></td>
            <td><input type="text" formControlName="transporterGSTIN" pInputText></td>
            <td><input type="text" formControlName="GSTEwayBillNo" pInputText></td>
            <td><input type="text" formControlName="GSTEWayBillDate" pInputText></td>
          </tr>
        </tbody>
      </table>
    </div>
  </fieldset>

  <fieldset *ngIf="transWorkCompletionDetails" formArrayName="transWorkCompletionDetails">
    <legend>
      Work Completion Details
    </legend>
    <div>
      <table width="100%" class="fieldTable">
        <thead>
          <th width="14.2%">Comp. Date</th>
          <th width="14.2%">Depart.Name</th>
          <th width="14.2%">Remarks</th>
          <th width="14.2%">Location</th>
          <th width="14.2%">Bill Amount</th>
          <th width="14.2%">Material Amount</th>
          <th width="14.2%">Labour Amount</th>
        </thead>
        <tbody>
          <tr *ngFor="let ctrl of transactionForm.get('transWorkCompletionDetails').controls; let i = index;"
            [formGroupName]="i">
            <td><input type="text" formControlName="jobCompletionDate" pInputText></td>
            <td><input type="text" formControlName="departmentName" pInputText></td>
            <td><input type="text" formControlName="transctionJobWorkRemarks" pInputText></td>
            <td><input type="text" formControlName="location" pInputText></td>
            <td><input type="text" formControlName="billAmount" pInputText></td>
            <td><input type="text" formControlName="materialAmount" pInputText></td>
            <td><input type="text" formControlName="labourAmount" pInputText></td>
          </tr>
        </tbody>
      </table>
    </div>
  </fieldset>

  <p style="text-align: center">
    <button pButton type="button" (click)="saveTransation(transactionForm.value)" label="Submit" class="ui-button-success" [disabled]="!transactionForm.valid"
      style="margin-right: 10px;"></button>
    <button pButton type="button" label="Cancel" class="ui-button-secondary"></button>
  </p>
</form>

<div class="lengthModal">
  <p-dialog [header]="grnBarcodeTitle" [(visible)]="displayGrnBarcodeDialog" [modal]="true" [responsive]="true"
    [style]="{width: '350px', minWidth: '200px'}" [minY]="70" [maximizable]="true" [baseZIndex]="10000">

    <div>
      <p style="border-radius:4px; color:#18722b; margin-bottom: 0"><small>This item's Bar Code Length is
          {{ItemBarCodeLength}}.</small></p>
      <p style="background-color:#ffcaca; padding:0 5px; line-height:34px; border-radius:4px;">{{grnValidationMsg}}</p>
      <p style="background-color:#beefc8; padding:0 5px; line-height:34px; border-radius:4px; color:#18722b;">
        {{BarcodeSuccessMsg}}</p><br />
      <div class="form-group">
        <span class="ui-float-label">
          <input type="text" pInputText #itemBarCode (input)="clearErrorBox(); callGRNBarcode();">
          <label for="barCode">Enter Barcode</label>
        </span>
      </div><br />
      <div class="form-group">
        <span class="ui-float-label">
          <input type="number" pInputText #itemQtyGnr>
          <label for="barCode">Enter Quantity</label>
        </span>
      </div>
    </div>


    <p-footer>
      <button type="button" pButton (click)="displayGrnBarcodeDialog=false" label="Cancel"
        class="ui-button-secondary"></button>
      <button type="button" pButton (click)="addGrnBarcode()" label="Add"></button>
    </p-footer>
  </p-dialog>
</div>

<div class="lengthModal">
  <p-dialog header="Barcode Scan Dialog" [(visible)]="displayLengthDialog" [modal]="true" [responsive]="true"
    [style]="{width: '350px', minWidth: '200px'}" [minY]="70" [maximizable]="true" [baseZIndex]="10000">

    <p style="background-color:#ffcaca; padding:0 5px; line-height:34px; border-radius:4px;">{{plValidationMsg}}</p>
    <p style="background-color:#beefc8; padding:0 5px; line-height:34px; border-radius:4px; color:#18722b;">
      {{BarcodeSuccessMsg}}</p><br />
    <div class="form-group">
      <span class="ui-float-label">
        <input type="text" *ngIf="showBarcode4Pl" pInputText (input)="getBarcode()" id="barCode" #barCode1 />
        <input type="text" *ngIf="showBarcode4Fg" pInputText (input)="getBarcodeFg()" id="barCode" #barCode1 />
        <label for="barCode">Barcode</label>
      </span>
    </div>
    <div class="form-group">
      <span class="ui-float-label">
        <input type="number" pInputText #startLength [disabled]="!enableNumberTxt" (input)="clearErrorBox()">
        <label for="barCode">Enter Start Length</label>
      </span>
    </div>
    <div class="form-group">
      <span class="ui-float-label">
        <input type="number" pInputText #endtLength [disabled]="!enableNumberTxt" (input)="clearErrorBox()">
        <label for="barCode">Enter End Length</label>
      </span>
    </div>
    <div class="form-group">
      <span class="ui-float-label">
        <input type="number" pInputText #itemStops [disabled]="!enableNumberTxt" (input)="clearErrorBox()">
        <label for="barCode">Enter Stops</label>
      </span>
    </div>


    <p-footer class="text-center">
      <button type="button" pButton (click)="displayLengthDialog=false" label="Cancel"
        class="ui-button-secondary"></button>
      <button type="button" pButton (click)="getBarcode()" label="Update" *ngIf="showBarcode4Pl"
        [disabled]="!enableNumberTxt"></button>
      <button type="button" pButton (click)="getBarcodeFg()" label="Update" *ngIf="showBarcode4Fg"
        [disabled]="!enableNumberTxt"></button>
    </p-footer>
  </p-dialog>
</div>
