<app-navbar> </app-navbar>
<section>
  <div class="container-fluid">
    <div class="mainWrapper">
      <div class="wrraper">
        <div class="row">
          <div class="no-padding DashboardTop">
            <div class="col-sm-3 no-padding dashboardlscol">
              <div class="dashboard-volumn" routerLinkActive="active">
                <a routerLink="salesOrder">
                  <div class="col-sm-12 no-padding">
                    <div class="col-sm-4 no-padding dashboard-volumn-lst">
                      <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    </div>
                    <div class="col-sm-8 no-padding dashboard-volumn-lst">
                      <p>No. 54512</p>
                      <h3>Sales Order</h3>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-sm-3 no-padding dashboardlscol">
              <div class="dashboard-volumn" routerLinkActive="active">
                <a routerLink="packingList">
                  <div class="col-sm-12 no-padding">
                    <div class="col-sm-4 no-padding dashboard-volumn-lst">
                      <i class="fa fa-book" aria-hidden="true"></i>
                    </div>
                    <div class="col-sm-8 no-padding dashboard-volumn-lst">
                      <p>No. 4522</p>
                      <h3>Packing List</h3>
                    </div>
                  </div>
                </a>

              </div>
            </div>

            <div class="col-sm-3 no-padding dashboardlscol">
              <div class="dashboard-volumn" routerLinkActive="active">
                <a routerLink="salesInvoice">
                  <div class="col-sm-12 no-padding">
                    <div class="col-sm-4 no-padding dashboard-volumn-lst">
                        <i class="fa fa-file-text" aria-hidden="true"></i>
                    </div>
                    <div class="col-sm-8 no-padding dashboard-volumn-lst">
                      <p>No. 522</p>
                      <h3>Sales Invoices</h3>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <!-- <div class="col-sm-3 no-padding dashboardlscol">
              <div class="dashboard-volumn" routerLinkActive="active">
                <a routerLink="salesInvoicePrint">
                  <div class="col-sm-12 no-padding">
                    <div class="col-sm-4 no-padding dashboard-volumn-lst">
                        <i class="fa fa-clipboard" aria-hidden="true"></i>
                    </div>
                    <div class="col-sm-8 no-padding dashboard-volumn-lst">
                      <p>No. 522</p>
                      <h3>Sales Invoice Printing</h3>
                    </div>
                  </div>
                </a>
              </div>
            </div> -->
            <div class="col-sm-3 no-padding dashboardlscol">
              <div class="dashboard-volumn" routerLinkActive="active">
                <a routerLink="salesOrderVerify">
                  <div class="col-sm-12 no-padding">
                    <div class="col-sm-4 no-padding dashboard-volumn-lst">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </div>
                    <div class="col-sm-8 no-padding dashboard-volumn-lst">
                      <p>No. 522</p>
                      <h3>Sales Order Verification</h3>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-sm-3 no-padding dashboardlscol">
              <div class="dashboard-volumn" routerLinkActive="active">
                <a routerLink="salesOrderAccept">
                  <div class="col-sm-12 no-padding">
                    <div class="col-sm-4 no-padding dashboard-volumn-lst">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                    </div>
                    <div class="col-sm-8 no-padding dashboard-volumn-lst">
                      <p>No. 522</p>
                      <h3>Sales Order Acceptance</h3>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-sm-3 no-padding dashboardlscol">
              <div class="dashboard-volumn" routerLinkActive="active">
                <a routerLink="salesInvoiceGenerate">
                  <div class="col-sm-12 no-padding">
                    <div class="col-sm-4 no-padding dashboard-volumn-lst">
                        <i class="fa fa-wpforms" aria-hidden="true"></i>
                    </div>
                    <div class="col-sm-8 no-padding dashboard-volumn-lst">
                      <p>No. 522</p>
                      <h3>Sales Invoice Generation</h3>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>
