<p-panel header="Customer List" class="Tabledata">
  <p-header>
      <button pButton type="button" style="float:right" icon="pi pi-plus" label="Add" class="ui-button-success" (click)="addPOrder()"></button>
  </p-header>
  <div *ngIf="purchaseList" class="table-responsive">
      <table class="table">
          <thead>
          <tr>
              <th>Name</th>
              <th>Address</th>
              <th>Contact No</th>
              <th>Customer GSTIN</th>
              <th>Email</th>
              <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngIf="purchaseList">
              <tr *ngFor="let item of purchaseList; index as i;">
                  <td>

                  </td>
                  <td>sdf</td>
                  <td>sdf</td>
                  <td>sdf</td>
                  <td>sdf</td>
                  <td>
                      <button pButton type="button" style="margin-right: 5px;" label="Edit" class="ui-button-success" ></button>
                      <button pButton type="button" label="Delete" class="ui-button-danger"></button>
                  </td>
              </tr>
          </ng-container>
          </tbody>
      </table>
  </div>
  <div  *ngIf="!purchaseList" style="text-align: center">
    <br/>
    No Records available !
    <br/><br/>
  </div>
</p-panel>
