
<p-panel header="Good Receipt Note" class="Tabledata">
  <p-header>
      <button pButton type="button" style="float:right" icon="pi pi-plus" label="Add" class="ui-button-success" (click)="addProdOrder()"></button>
  </p-header>
  <div *ngIf="prodOrderList" class="table-responsive">
      <table class="table">
          <thead>
          <tr>
              <th>Doc Date</th>
              <th>Doc No </th>
              <th>Godown Location</th>
              <th>Requsted By</th>
              <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngIf="prodOrderList">
              <tr *ngFor="let item of prodOrderList; index as i;">
                  <td>{{item.transactionDate}}</td>
                  <td>{{item.transactionNo}}</td>
                  <td>{{item.ledgerName}}</td>
                  <td>{{item.transactionDueDate}}</td>
                  <td>
                      <button pButton type="button" style="margin-right: 5px;" icon="fa fa-pencil" class="ui-button-success" (click)="editProdOrder(item.transactionID)" ></button>
                      <button pButton type="button" icon="fa fa-trash-o" class="ui-button-danger"></button>
                  </td>
              </tr>
          </ng-container>
          </tbody>
      </table>
  </div>
  <div  *ngIf="!prodOrderList || prodOrderList.length < 1" style="text-align: center">
    <br/>
    No Records available !
    <br/><br/>
  </div>
</p-panel>
