<header>
  <div class="container-fluid">
    <div class="main-header ">
      <div class="main-nav">
        <nav class="navbar">
          <div class="navbar-header">
            <a href="#" class="navbar-brand">
              <img src="assets/images/login-logo.png" alt="">
            </a>
            <span class="heading">
              Dashboard
            </span>
            <!-- <button type="text" (click)="display = true" pButton class="navbarleft">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button> -->
          </div>
          <div class="userprofile">
            <ul>
              <li>
                <a href="#">
                  <i class="fa fa-bell" aria-hidden="true"></i>
                </a>

              </li>
              <li>
                <span>
                  <i class="fa fa-user" aria-hidden="true"></i>
                </span>
                <!-- <ul>
                  <li>
                    <a href="#">Name</a>
                  </li>
                  <li>
                    <a href="#">Sign Out</a>
                  </li>
                </ul> -->
              </li>
            </ul>
          </div>
        </nav>
        <div class="sideBar" *ngIf="userDetails.length > 0">
          <ul>
            <li>
              <a routerLink="/dashboard" routerLinkActive="active"><i class="fa fa-tachometer" aria-hidden="true"></i>
                <span>Dashboard</span></a>
                <!-- sdf{{userList | json}} -->
            </li>
            <li *ngIf="userDetails[0].menuStatus">
              <a routerLink="/masters" routerLinkActive="active"><i class="fa fa-address-book" aria-hidden="true"></i>
                <span>Masters</span></a>
            </li>
            <li *ngIf="userDetails[1].menuStatus">
              <a routerLink="/bill-material" routerLinkActive="active"><i class="fa fa-tasks" aria-hidden="true"></i>
                <span>Bill Of Material</span></a>
            </li>
            <li *ngIf="userDetails[2].menuStatus">
              <a routerLink="/planning" routerLinkActive="active"><i class="fa fa-address-card" aria-hidden="true"></i>
                <span>Planning</span></a>
            </li>
            <li *ngIf="userDetails[3].menuStatus">
              <a routerLink="/purchase" routerLinkActive="active"><i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <span>Purchase</span></a>
            </li>
            <li *ngIf="userDetails[4].menuStatus">
              <a routerLink="/stores" routerLinkActive="active"><i class="fa fa-archive" aria-hidden="true"></i> <span>Stores</span></a>
            </li>
            <li *ngIf="userDetails[5].menuStatus">
              <a routerLink="/production" routerLinkActive="active"><i class="fa fa-product-hunt" aria-hidden="true"></i>
                <span>Production</span></a>
            </li>
            <li *ngIf="userDetails[6].menuStatus">
              <a routerLink="/sales" routerLinkActive="active"><i class="fa fa-balance-scale" aria-hidden="true"></i>
                <span>Sales</span></a>
            </li>
            <!-- <li>
              <a routerLink="/utilities" routerLinkActive="active"><i class="fa fa-sliders" aria-hidden="true"></i> <span>Utilities</span></a>
            </li> -->
            <li *ngIf="userDetails[7].menuStatus">
              <a routerLink="/reports" routerLinkActive="active"><i class="fa fa-file" aria-hidden="true"></i> <span>Reports</span></a>
            </li>
            <!-- <li *ngIf="userDetails[8].menuStatus"> -->
            <li>
              <a routerLink="/users" routerLinkActive="active">
                <i class="fa fa-user-o" aria-hidden="true"></i>
                <span>Users</span>
              </a>
            </li>
            <li>
              <a routerLink="/logout" routerLinkActive="active" (click)="logOut()"><i class="fa fa-power-off"
                  aria-hidden="true"></i> <span>Logout</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
