<header>
  <div class="container-fluid">
    <div class="main-header ">
      <div class="main-nav">
        <nav class="navbar">
          <div class="navbar-header">
            <a href="#" class="navbar-brand">
              <img src="assets/images/login-logo.png" alt="">
            </a>
            <span class="heading">
              Dashboard
            </span>
            <!-- <button type="text" (click)="display = true" pButton class="navbarleft">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button> -->
          </div>
          <p-overlayPanel #op [dismissable]="true">
            <h5 class="nofih5">Notification List</h5>
            <ul class="notificationlist">
              <li *ngFor="let item of notificationList" (click)="updateNotification(item.notificationUserID)">
                {{item.notificationMessage}}
              </li>
            </ul>
          </p-overlayPanel>
          <div class="userprofile">
            <ul>
              <li>
                <a href="javascript:void(0);" (click)="showNotification($event, op)">
                  <span *ngIf="notiCount" style="
                    position: absolute;
                    padding: 3px;
                    background: #d80027;
                    font-size: 10px;
                    line-height: 10px;
                    border-radius: 50%;
                    top: 0;
                    min-width: 15px;
                    text-align: center;
                    color: #fff;
                    width: auto;">{{notiCount}}</span>
                  <i class="fa fa-bell" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <span>
                  <i class="fa fa-user" aria-hidden="true"></i>
                </span>
                <!-- <ul>
                  <li>
                    <a href="#">Name</a>
                  </li>
                  <li>
                    <a href="#">Sign Out</a>
                  </li>
                </ul> -->
              </li>
            </ul>
          </div>
        </nav>
        <div class="sideBar">
          <ul>
            <li>
              <a routerLink="/dashboard"  routerLinkActive="active"><i class="fa fa-tachometer" aria-hidden="true"></i>
                <span>Dashboard</span></a>
            </li>
            <li *ngIf="userDetails[0]?.userRightMenuStatus || 1">
              <a routerLink="/masters" (click)="redirect(userDetails[0]?.userRightMenuID)" routerLinkActive="active"><i class="fa fa-address-book" aria-hidden="true"></i>
                <span>Masters</span></a>
            </li>
            <li *ngIf="userDetails[1]?.userRightMenuStatus || 1">
              <a routerLink="/bill-material" (click)="redirect(userDetails[1]?.userRightMenuID)" routerLinkActive="active"><i class="fa fa-tasks" aria-hidden="true"></i>
                <span>Bill Of Material</span></a>
            </li>
            <li *ngIf="userDetails[2]?.userRightMenuStatus || 1">
              <a routerLink="/planning" (click)="redirect(userDetails[2]?.userRightMenuID)" routerLinkActive="active"><i class="fa fa-address-card" aria-hidden="true"></i>
                <span>Planning</span></a>
            </li>
            <li *ngIf="userDetails[3]?.userRightMenuStatus || 1">
              <a routerLink="/purchase" (click)="redirect(userDetails[3]?.userRightMenuID)" routerLinkActive="active"><i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <span>Purchase</span></a>
            </li>
            <li  *ngIf="userDetails[4]?.userRightMenuStatus || 1">
              <a routerLink="/stores" (click)="redirect(userDetails[4]?.userRightMenuID)" routerLinkActive="active"><i class="fa fa-archive" aria-hidden="true"></i>
                <span>Stores</span></a>
            </li>
            <li *ngIf="userDetails[5]?.userRightMenuStatus || 1">
              <a routerLink="/production" (click)="redirect(userDetails[5]?.userRightMenuID)" routerLinkActive="active"><i class="fa fa-product-hunt"
                  aria-hidden="true"></i>
                <span>Production</span></a>
            </li>
            <li *ngIf="userDetails[6]?.userRightMenuStatus || 1">
              <a routerLink="/sales" (click)="redirect(userDetails[6]?.userRightMenuID)" routerLinkActive="active"><i class="fa fa-balance-scale" aria-hidden="true"></i>
                <span>Sales</span></a>
            </li>
            <!-- <li>
              <a routerLink="/utilities" routerLinkActive="active"><i class="fa fa-sliders" aria-hidden="true"></i> <span>Utilities</span></a>
            </li> -->
            <li *ngIf="userDetails[7]?.userRightMenuStatus || 1">
              <a routerLink="/reports" (click)="redirect(userDetails[7]?.userRightMenuID)" routerLinkActive="active"><i class="fa fa-file" aria-hidden="true"></i>
                <span>Reports</span></a>
            </li>
            <li >
                <!-- <li *ngIf="userDetails[8]?.userRightMenuStatus"> -->
              <a routerLink="/users" routerLinkActive="active" (click)="redirect(userDetails[8]?.userRightMenuID)">
                <i class="fa fa-user-o" aria-hidden="true"></i>
                <span>Users</span>
              </a>
            </li>
            <li>
              <a routerLink="/logout" routerLinkActive="active" (click)="logOut()"><i class="fa fa-power-off"
                  aria-hidden="true"></i> <span>Logout</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
