<app-navbar> </app-navbar>
<section>
  <div class="container-fluid">
    <div class="mainWrapper">
      <div class="wrraper">
        <div class="row">
          <div class="no-padding DashboardTop">
            <div class="col-sm-3 no-padding dashboardlscol">
              <div class="dashboard-volumn" routerLinkActive="active">
                <a routerLink="grn">
                  <div class="col-sm-12 no-padding">
                    <div class="col-sm-4 no-padding dashboard-volumn-lst">
                      <i class="fa fa-th-list" aria-hidden="true"></i>
                    </div>
                    <div class="col-sm-8 no-padding dashboard-volumn-lst">
                      <p>No. 54512</p>
                      <h3>Goods Receipt Note</h3>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-sm-3 no-padding dashboardlscol">
              <div class="dashboard-volumn" routerLinkActive="active">
                <a routerLink="jobwork">
                  <div class="col-sm-12 no-padding">
                    <div class="col-sm-4 no-padding dashboard-volumn-lst">
                      <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                    </div>
                    <div class="col-sm-8 no-padding dashboard-volumn-lst">
                      <p>No. 4522</p>
                      <h3>JOB Work Completion</h3>
                    </div>
                  </div>
                </a>

              </div>
            </div>

            <!-- <div class="col-sm-3 no-padding dashboardlscol">
              <div class="dashboard-volumn" routerLinkActive="active">
                <a routerLink="stockRequest">
                  <div class="col-sm-12 no-padding">
                    <div class="col-sm-4 no-padding dashboard-volumn-lst">
                        <i class="fa fa-address-card-o" aria-hidden="true"></i>
                    </div>
                    <div class="col-sm-8 no-padding dashboard-volumn-lst">
                      <p>No. 522</p>
                      <h3>Stock Issue Request</h3>
                    </div>
                  </div>
                </a>
              </div>
            </div> -->
            <div class="col-sm-3 no-padding dashboardlscol">
              <div class="dashboard-volumn" routerLinkActive="active">
                <a routerLink="stockNote">
                  <div class="col-sm-12 no-padding">
                    <div class="col-sm-4 no-padding dashboard-volumn-lst">
                        <i class="fa fa-th-list" aria-hidden="true"></i>
                    </div>
                    <div class="col-sm-8 no-padding dashboard-volumn-lst">
                      <p>No. 522</p>
                      <h3>Stock Issue Note</h3>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-sm-3 no-padding dashboardlscol">
              <div class="dashboard-volumn" routerLinkActive="active">
                <a routerLink="stockRejectNote">
                  <div class="col-sm-12 no-padding">
                    <div class="col-sm-4 no-padding dashboard-volumn-lst">
                        <i class="fa fa-th-list" aria-hidden="true"></i>
                    </div>
                    <div class="col-sm-8 no-padding dashboard-volumn-lst">
                      <p>No. 522</p>
                      <h3>Stock Rejection Note</h3>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-sm-3 no-padding dashboardlscol">
              <div class="dashboard-volumn" routerLinkActive="active">
                <a routerLink="delieveryChallan">
                  <div class="col-sm-12 no-padding">
                    <div class="col-sm-4 no-padding dashboard-volumn-lst">
                        <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
                    </div>
                    <div class="col-sm-8 no-padding dashboard-volumn-lst">
                      <p>No. 522</p>
                      <h3>Delivery Challan</h3>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-sm-3 no-padding dashboardlscol">
              <div class="dashboard-volumn" routerLinkActive="active">
                <a routerLink="rerurnableChallan">
                  <div class="col-sm-12 no-padding">
                    <div class="col-sm-4 no-padding dashboard-volumn-lst">
                        <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
                    </div>
                    <div class="col-sm-8 no-padding dashboard-volumn-lst">
                      <p>No. 522</p>
                      <h3>Returnable Challan</h3>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-sm-3 no-padding dashboardlscol">
              <div class="dashboard-volumn" routerLinkActive="active">
                <a routerLink="physicalStock">
                  <div class="col-sm-12 no-padding">
                    <div class="col-sm-4 no-padding dashboard-volumn-lst">
                        <i class="fa fa-cubes" aria-hidden="true"></i>
                    </div>
                    <div class="col-sm-8 no-padding dashboard-volumn-lst">
                      <p>No. 522</p>
                      <h3>Physical Stock</h3>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- <app-filters></app-filters> -->
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>
