<p-progressSpinner *ngIf="showLoader"></p-progressSpinner>
<form [formGroup]="workInstructionForm" (submit)="saveTransation(workInstructionForm.value)" class="formData">
  <p-panel header="Assembly Work Instruction" class="Tabledata">
    <p-header>
      <!-- <button pButton type="button" style="float:right" label="Start Scan" class="ui-button-success"
        (click)="getOpenBarcodeModal()"></button> -->
    </p-header><br />
    <div class="message error" *ngIf="showError">{{errorMsg}}</div>
    <div class="message success" *ngIf="showSuccess">{{successMsg}}</div>
    <div class="ui-g">
      <div class="ui-g-12">
        <div class="ui-g-3">
          <div class="form-group" style="margin:0">
            <span class="ui-float-label">
              <input type="text" formControlName="serialNumber" pInputText readonly>
              <label for="transactionNo">Serial No.</label>
            </span>
          </div>
        </div>
        <div class="ui-g-3" style="margin:0">
          <div class="form-group">
            <span class="ui-float-label">
              <input type="text" pInputText formControlName="BatchNo" readonly>
              <label for="transactionNo">Finish Good Id</label>
            </span>
          </div>
        </div>
        <div class="ui-g-3">
          <div class="form-group" style="margin:0">
            <span class="ui-float-label">
              <input type="text" pInputText formControlName="AssemblerID" readonly>
              <label for="transactionNo">Assembly Code</label>
            </span>
          </div>
        </div>
        <div class="ui-g-3" style="margin:0">
          <div class="form-group">
            <span class="ui-float-label">
              <input type="text" pInputText formControlName="AssemblerName" readonly>
              <label for="transactionNo">Assembly Name</label>
            </span>
          </div>
        </div>
      </div>
    </div>
  </p-panel>
  <p-panel header="Item Work Details" class="Tabledata">
    <div class="table-responsive" *ngIf="workInstructionDetails">
      <table class="table">
        <thead>
          <tr>
            <th>Description</th>
            <th>Item Code.</th>
            <th>Item Desc.</th>
            <th>Qty</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody formArrayName="assemblyWorkInstructionDetails">
          <tr *ngFor="let ctrl of workInstructionForm.get('assemblyWorkInstructionDetails').controls; let x = index;"
            [formGroupName]="x">
            <td><input type="text" formControlName="instructiondescription" pInputText readonly></td>
            <td><input type="text" formControlName="itemCode" pInputText readonly></td>
            <td><input type="text" formControlName="itemDesc" pInputText readonly></td>
            <td><input type="text" formControlName="qty" pInputText readonly></td>
            <td>
              <button pButton type="button" label="Scan" class="ui-button-success" (click)="showGrnBarcodeDialog(x)">
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="!workInstructionDetails || workInstructionDetails.length < 1" style="text-align: center">
      <br /> No Records available ! <br /><br />
    </div>
  </p-panel>
  <p-panel header="Batch Details" class="Tabledata" formArrayName="AssemblyBatchDetails">
    <div style="max-height:200px; overflow:auto; padding: 15px;">
      <table width="100%" class="fieldTable">
        <thead>
          <th>Batch No.</th>
          <th>Item Code</th>
          <th>Quantity</th>
          <th>action</th>
        </thead>
        <tbody>
          <tr *ngFor="let ctrl of workInstructionForm.get('AssemblyBatchDetails').controls; let i = index;"
            [formGroupName]="i">
            <td><input type="text" formControlName="batchNo" pInputText readonly></td>
            <td><input type="text" formControlName="itemCode" pInputText readonly></td>
            <td><input type="text" formControlName="qty" pInputText readonly></td>
            <td>
              <button pButton type="button" label="Delete" class="ui-button-danger" (click)="deleteItemBatch(i)">
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </p-panel>
  <br />
  <p class="text-center" style="margin-bottom:10px;">
    <a pButton type="button" label="Cancel" class="ui-button-secondary" (click)="cancel()"></a>
    <button pButton type="button" label="Save" class="ui-button-success"
      (click)="saveWorkInstruction(workInstructionForm.value)">
    </button>
  </p>
</form>
<div class="lengthModal">
  <p-dialog [header]="grnBarcodeTitle" [(visible)]="displayGrnBarcodeDialog" [modal]="true" [responsive]="true"
    [style]="{width: '350px', minWidth: '200px'}" [minY]="70" [maximizable]="true" [baseZIndex]="10000">
    <div>
      <p style="border-radius:4px; color:#18722b; margin-bottom: 0"><small>This item's Bar Code Length is
          {{ItemBarCodeLength}}.</small></p>
      <p style="background-color:#ffcaca; padding:0 5px; line-height:34px; border-radius:4px;">{{grnValidationMsg}}</p>
      <p style="background-color:#beefc8; padding:0 5px; line-height:34px; border-radius:4px; color:#18722b;">
        {{BarcodeSuccessMsg}}</p><br />
      <div class="form-group">
        <span class="ui-float-label">
          <input type="text" pInputText #itemBarCode (input)="clearErrorBox(); callGRNBarcode();">
          <label for="barCode">Enter Barcode</label>
        </span>
      </div>
    </div>
    <p-footer>
      <button type="button" pButton (click)="displayGrnBarcodeDialog=false" label="Cancel"
        class="ui-button-secondary"></button>
      <button type="button" pButton (click)="addGrnBarcode()" label="Add"></button>
    </p-footer>
  </p-dialog>
</div>