<p-panel header="Customer List" class="Tabledata">
    <p-header>
        <button pButton type="button" style="float:right" icon="pi pi-plus" label="Add" class="ui-button-success" (click)="addSupplier()"></button>
    </p-header>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Supplier Name</th>
                <th>Supplier Address</th>
                <th>State</th>
                <th>Contact No</th>
                <th>GSTIN</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngIf="supplierList">
                <tr *ngFor="let supplier of supplierList; index as i;">
                    <td>
                        <a (click)="setSupplier(supplier.supplier_ID)"> {{supplier.supplierName}}</a>
                    </td>
                    <td>{{supplier.supplierAddress}}</td>
                    <td>{{supplier.state}}</td>
                    <td>{{supplier.contactNos}}</td>
                    <td>{{supplier.gstin}}</td>

                    <td>
                        <button pButton type="button" style="margin-right: 5px;" label="Edit" class="ui-button-success" (click)="setSupplier(supplier.supplier_ID)"></button>
                        <button pButton type="button" label="Delete" class="ui-button-danger" (click)="deleteSupplier(supplier.supplier_ID)"></button>
                    </td>
                </tr>
            </ng-container>
            </tbody>
        </table>
    </div>
</p-panel>
