<app-navbar></app-navbar>

<section>
  <div class="container-fluid">
    <div class="mainWrapper">
      <div class="wrraper">
        <div class="row">
          <div class="no-padding DashboardTop">
            <div class="col-sm-3 no-padding dashboardlscol" *ngIf="userRightMenuData[0]?.userRightTabStatus">
              <div class="dashboard-volumn" routerLinkActive="active">
                <a routerLink="ledgers">
                  <div class="col-sm-12 no-padding">
                    <div class="col-sm-4 no-padding dashboard-volumn-lst">
                      <i class="fa fa-id-card-o" aria-hidden="true"></i>
                    </div>
                    <div class="col-sm-8 no-padding dashboard-volumn-lst">
                      <p>No. 54512</p>
                      <h3>Ledgers</h3>
                    </div>
                  </div>
                </a>

              </div>
            </div>
            <div class="col-sm-3 no-padding dashboardlscol" *ngIf="userRightMenuData[1]?.userRightTabStatus">
              <div class="dashboard-volumn" routerLinkActive="active">
                <a routerLink="stockItems">
                  <div class="col-sm-12 no-padding">
                    <div class="col-sm-4 no-padding dashboard-volumn-lst">
                      <i class="fa fa-cube" aria-hidden="true"></i>
                    </div>
                    <div class="col-sm-8 no-padding dashboard-volumn-lst">
                      <p>No. 4522</p>
                      <h3>Stock Items</h3>
                    </div>
                  </div>
                </a>

              </div>
            </div>
            <div class="col-sm-3 no-padding dashboardlscol" *ngIf="userRightMenuData[2]?.userRightTabStatus">
              <div class="dashboard-volumn" routerLinkActive="active">
                <a routerLink="stockGroups">
                  <div class="col-sm-12 no-padding">
                    <div class="col-sm-4 no-padding dashboard-volumn-lst">
                      <i class="fa fa-cubes" aria-hidden="true"></i>
                    </div>
                    <div class="col-sm-8 no-padding dashboard-volumn-lst">
                      <p>No. 522</p>
                      <h3>Stock Group</h3>
                    </div>
                  </div>
                </a>

              </div>
            </div>
            <div class="col-sm-3 no-padding dashboardlscol" *ngIf="userRightMenuData[3]?.userRightTabStatus">
              <div class="dashboard-volumn" routerLinkActive="active">
                <a routerLink="units">
                  <div class="col-sm-12 no-padding">
                    <div class="col-sm-4 no-padding dashboard-volumn-lst">
                      <i class="fa fa-database" aria-hidden="true"></i>
                    </div>
                    <div class="col-sm-8 no-padding dashboard-volumn-lst">
                      <p>No. 210</p>
                      <h3>Units</h3>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-sm-3 no-padding dashboardlscol" *ngIf="userRightMenuData[4]?.userRightTabStatus">
              <div class="dashboard-volumn" routerLinkActive="active">
                <a routerLink="customers">
                  <div class="col-sm-12 no-padding">
                    <div class="col-sm-4 no-padding dashboard-volumn-lst">
                      <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                    </div>
                    <div class="col-sm-8 no-padding dashboard-volumn-lst">
                      <p>No. 210</p>
                      <h3>Customers</h3>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-sm-3 no-padding dashboardlscol" *ngIf="userRightMenuData[5]?.userRightTabStatus">
              <div class="dashboard-volumn" routerLinkActive="active">
                <a routerLink="suppliers">
                  <div class="col-sm-12 no-padding">
                    <div class="col-sm-4 no-padding dashboard-volumn-lst">
                      <i class="fa fa-truck" aria-hidden="true"></i>
                    </div>
                    <div class="col-sm-8 no-padding dashboard-volumn-lst">
                      <p>No. 210</p>
                      <h3>Suppliers</h3>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-sm-3 no-padding dashboardlscol">
                <div class="dashboard-volumn" routerLinkActive="active">
                    <a routerLink="pricelist/2">
                    <div class="col-sm-12 no-padding">
                        <div class="col-sm-4 no-padding dashboard-volumn-lst">
                        <i class="fa fa-truck" aria-hidden="true"></i>
                        </div>
                        <div class="col-sm-8 no-padding dashboard-volumn-lst">
                        <p>No. 210</p>
                        <h3>Customer PriceList</h3>
                        </div>
                    </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-3 no-padding dashboardlscol">
                <div class="dashboard-volumn" routerLinkActive="active">
                  <a routerLink="pricelist/1">
                    <div class="col-sm-12 no-padding">
                      <div class="col-sm-4 no-padding dashboard-volumn-lst">
                        <i class="fa fa-truck" aria-hidden="true"></i>
                      </div>
                      <div class="col-sm-8 no-padding dashboard-volumn-lst">
                        <p>No. 210</p>
                        <h3>Supplier PriceList</h3>
                      </div>
                    </div>
                  </a>
                </div>
            </div>
          </div>
        </div>

        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>
