<app-navbar></app-navbar>

<section>
  <div class="container-fluid">
    <div class="mainWrapper">
      <div class="wrraper">
        <div class="row">
          <div class="col-sm-12 no-padding DashboardTop">
            <div class="col-sm-3 no-padding dashboardlscol">
              <div class="dashboard-volumn" routerLinkActive="active"><a routerLink="ledgers">
                <div class="col-sm-12 no-padding">
                  <div class="col-sm-4 no-padding dashboard-volumn-lst">
                    <img src="assets/images/img1.png" alt="">
                  </div>
                  <div class="col-sm-8 no-padding dashboard-volumn-lst">
                    <p>No. 54512</p>
                    <h3>Ledgers</h3>
                  </div>
                </div></a>

              </div>
            </div>
            <div class="col-sm-3 no-padding dashboardlscol">
              <div class="dashboard-volumn" routerLinkActive="active"><a routerLink="stockItems">
                <div class="col-sm-12 no-padding">
                  <div class="col-sm-4 no-padding dashboard-volumn-lst">
                    <img src="assets/images/img2.png" alt="">
                  </div>
                  <div class="col-sm-8 no-padding dashboard-volumn-lst">
                    <p>No. 4522</p>
                    <h3>Stock Items</h3>
                  </div>
                </div></a>

              </div>
            </div>
            <div class="col-sm-3 no-padding dashboardlscol">
              <div class="dashboard-volumn" routerLinkActive="active"><a routerLink="stockGroups">
                <div class="col-sm-12 no-padding">
                  <div class="col-sm-4 no-padding dashboard-volumn-lst">
                    <img src="assets/images/img3.png" alt="">
                  </div>
                  <div class="col-sm-8 no-padding dashboard-volumn-lst">
                    <p>No. 522</p>
                    <h3>Stock Group</h3>
                  </div>
                </div></a>

              </div>
            </div>
            <div class="col-sm-3 no-padding dashboardlscol">
              <div class="dashboard-volumn" routerLinkActive="active"><a routerLink="units">
                <div class="col-sm-12 no-padding">
                  <div class="col-sm-4 no-padding dashboard-volumn-lst">
                    <img src="assets/images/img4.png" alt="">
                  </div>
                  <div class="col-sm-8 no-padding dashboard-volumn-lst">
                    <p>No. 210</p>
                    <h3>Units</h3>
                  </div>
                </div></a>

              </div>
            </div>
          </div>
        </div>

        <router-outlet></router-outlet>

      </div>
    </div>
  </div>
</section>

