<app-filters (filterDates)='getTransactionList($event)'></app-filters>
<p-panel header="Good Receipt Note" class="Tabledata">
  <p-header>
      <button pButton type="button" style="float:right" icon="pi pi-plus" label="Add" class="ui-button-success" (click)="addNote()" ></button>
      <!-- [disabled]="!userRightMenuData[0]?.createStatus" -->

    </p-header>
  <div *ngIf="grnList" class="table-responsive">
      <table class="table">
          <thead>
          <tr>
              <th>S. No.</th>
              <th>Doc Date</th>
              <th>Doc No </th>
              <th>Supplier</th>
              <th>PO No.</th>
              <th>PO Date</th>
              <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngIf="grnList">
              <tr *ngFor="let item of grnList; index as i;">
                  <td>{{i+1}}</td>
                  <td>{{item.transactionDate}}</td>
                  <td>{{item.transactionNo}}</td>
                  <td>{{item.ledgerName}}</td>
                  <td>{{item.transactionLinkDocNo}}</td>
                  <td>{{item.transactionDueDate}}</td>
                  <td>
                      <button pButton type="button" style="margin-right: 5px;" icon="fa fa-pencil" class="ui-button-success" (click)="editNote(item.transactionID)" [disabled]="!userRightMenuData[0]?.modifyStatus"></button>
                      <button pButton type="button" style="margin-right: 5px;" icon="fa fa-trash-o" class="ui-button-danger" [disabled]="!userRightMenuData[0]?.deleteStatus"></button>
                      <a pButton type="button" icon="fa fa-print" class="ui-button-info" target="_blank" (click)="generateReport(item.transactionID)"> </a>
                  </td>
              </tr>
          </ng-container>
          </tbody>
      </table>
  </div>
  <div  *ngIf="!grnList || grnList.length < 1" style="text-align: center">
    <br/>
    No Records available !
    <br/><br/>
  </div>
</p-panel>
