
<p-panel header="Stock Issue Request" class="Tabledata">
  <p-header>
      <button pButton type="button" style="float:right" icon="pi pi-plus" label="Add" class="ui-button-success" (click)="addRecord()"></button>

    </p-header>
  <div *ngIf="stockRequestList" class="table-responsive">
      <table class="table">
          <thead>
          <tr>
              <th>S. No.</th>
              <th>Doc Date</th>
              <th>Doc No </th>
              <th>Godown Location</th>
              <th>Requsted By</th>
              <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngIf="stockRequestList">
              <tr *ngFor="let item of stockRequestList; index as i;">
                  <td>{{i+1}}</td>
                  <td>{{item.transactionDate}}</td>
                  <td>{{item.transactionNo}}</td>
                  <td>{{item.locationName}}</td>
                  <td>{{item.userID}}</td>
                  <td>
                      <button pButton type="button" style="margin-right: 5px;" icon="fa fa-pencil" class="ui-button-success" (click)="editRecord(item.transactionID)" ></button>
                      <button pButton type="button" style="margin-right: 5px;" icon="fa fa-trash-o" class="ui-button-danger"></button>
                      <a pButton type="button" icon="fa fa-print" class="ui-button-info" target="_blank" (click)="generateReport(item.transactionID)"> </a>
                  </td>
              </tr>
          </ng-container>
          </tbody>
      </table>
  </div>
  <div  *ngIf="!stockRequestList || stockRequestList.length < 1" style="text-align: center">
    <br/>
    No Records available !
    <br/><br/>
  </div>
</p-panel>
