<p-panel header="Customer List" class="Tabledata">
    <p-header>
        <button pButton type="button" style="float:right" icon="pi pi-plus" label="Add" class="ui-button-success" (click)="addLedger()"></button>
    </p-header>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Customer Name</th>
                <th>Customer Address</th>
                <th>State</th>
                <th>Contact No</th>
                <th>Customer GSTIN</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngIf="customerList">
                <tr *ngFor="let customer of customerList; index as i;">
                    <td>
                        <a (click)="setCustomer(customer.customer_ID)"> {{customer.customerName}}</a>
                    </td>
                    <td>{{customer.customerAddress}}</td>
                    <td>{{customer.state}}</td>
                    <td>{{customer.contactNos}}</td>
                    <td>{{customer.customerGSTIN}}</td>

                    <td>
                        <button pButton type="button" style="margin-right: 5px;" label="Edit" class="ui-button-success" (click)="setLedger(ledger,ledger.ledger_ID)"></button>
                        <button pButton type="button" label="Delete" class="ui-button-danger" (click)="deleteLedger(ledger.ledger_ID)"></button>
                    </td>
                </tr>
            </ng-container>
            </tbody>
        </table>
    </div>
</p-panel>
