<app-navbar></app-navbar>
<br/><br/>
<section>

  <div class="Tabledata">
    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th>Jan</th>
          <th>Feb</th>
          <th>Mar</th>
          <th>Apr</th>
          <th>May</th>
          <th>Jun</th>
          <th>Jul</th>
          <th>Aug</th>
          <th>Sep</th>
          <th>Oct</th>
          <th>Nov</th>
          <th>Dec</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>25</td>
          <td>2018</td>
          <td>356</td>
          <td>26</td>
          <td>98</td>
          <td>245</td>
          <td>25</td>
          <td>98</td>
          <td>48</td>
          <td>69</td>
          <td>36</td>
          <td>98</td>
        </tr>
        <tr>
          <td>25</td>
          <td>2018</td>
          <td>356</td>
          <td>26</td>
          <td>98</td>
          <td>245</td>
          <td>25</td>
          <td>98</td>
          <td>48</td>
          <td>69</td>
          <td>36</td>
          <td>98</td>
        </tr>
        <tr>
          <td>25</td>
          <td>2018</td>
          <td>356</td>
          <td>26</td>
          <td>98</td>
          <td>245</td>
          <td>25</td>
          <td>98</td>
          <td>48</td>
          <td>69</td>
          <td>36</td>
          <td>98</td>
        </tr>
        <tr>
          <td>25</td>
          <td>2018</td>
          <td>356</td>
          <td>26</td>
          <td>98</td>
          <td>245</td>
          <td>25</td>
          <td>98</td>
          <td>48</td>
          <td>69</td>
          <td>36</td>
          <td>98</td>
        </tr>
        <tr>
          <td>25</td>
          <td>2018</td>
          <td>356</td>
          <td>26</td>
          <td>98</td>
          <td>245</td>
          <td>25</td>
          <td>98</td>
          <td>48</td>
          <td>69</td>
          <td>36</td>
          <td>98</td>
        </tr>
        <tr>
          <td>25</td>
          <td>2018</td>
          <td>356</td>
          <td>26</td>
          <td>98</td>
          <td>245</td>
          <td>25</td>
          <td>98</td>
          <td>48</td>
          <td>69</td>
          <td>36</td>
          <td>98</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
