<app-navbar></app-navbar>
<br/><br/>
<section>
  <div class="Tabledata">


    <div class="table-responsive">
      <button type="btn btn-primary">Add</button>
      <table class="table">
        <thead>
        <tr>
          <th>Unit Namee</th>
          <th>Company ID</th>
          <th>userID</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngIf="unitList">
        <tr *ngFor="let unit of unitList; index as i;">
          <td> {{unit.unitName}}</td>
          <td>{{unit.company_ID}}</td>
          <td>{{unit.userID}}</td>
          <td><a (click)="setUnit(unit.unit_ID)">Edit</a>  | <a (click)="deleteUnit(unit.unit_ID)">Delete</a> </td>

        </tr>
        </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</section>
