<app-navbar> </app-navbar>
<section>
  <div class="container-fluid">
    <div class="mainWrapper">
      <div class="wrraper">
        <div class="row">
          <div class="no-padding DashboardTop">
            <!-- <div class="col-sm-3 no-padding dashboardlscol">
              <div class="dashboard-volumn" routerLinkActive="active">
                <a routerLink="prodOrder">
                  <div class="col-sm-12 no-padding">
                    <div class="col-sm-4 no-padding dashboard-volumn-lst">
                      <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                    </div>
                    <div class="col-sm-8 no-padding dashboard-volumn-lst">
                      <p>No. 54512</p>
                      <h3>Production Order</h3>
                    </div>
                  </div>
                </a>
              </div>
            </div> -->
            <div class="col-sm-3 no-padding dashboardlscol">
              <div class="dashboard-volumn" routerLinkActive="active">
                <a routerLink="prodEntry">
                  <div class="col-sm-12 no-padding">
                    <div class="col-sm-4 no-padding dashboard-volumn-lst">
                      <i class="fa fa-book" aria-hidden="true"></i>
                    </div>
                    <div class="col-sm-8 no-padding dashboard-volumn-lst">
                      <p>No. 4522</p>
                      <h3>Production Entry</h3>
                    </div>
                  </div>
                </a>

              </div>
            </div>

            <div class="col-sm-3 no-padding dashboardlscol">
              <div class="dashboard-volumn" routerLinkActive="active">
                <a routerLink="FGInward">
                  <div class="col-sm-12 no-padding">
                    <div class="col-sm-4 no-padding dashboard-volumn-lst">
                        <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                    </div>
                    <div class="col-sm-8 no-padding dashboard-volumn-lst">
                      <p>No. 522</p>
                      <h3>FG Inward</h3>
                    </div>
                  </div>
                </a>
              </div>
            </div>

            <div class="col-sm-3 no-padding dashboardlscol">
              <div class="dashboard-volumn" routerLinkActive="active">
                <a routerLink="workInstruction">
                  <div class="col-sm-12 no-padding">
                    <div class="col-sm-4 no-padding dashboard-volumn-lst">
                      <i class="fa fa-object-group" aria-hidden="true"></i>
                    </div>
                    <div class="col-sm-8 no-padding dashboard-volumn-lst">
                      <p>No. 522</p>
                      <h3>Work Instruction</h3>
                    </div>
                  </div>
                </a>
              </div>
                <div class="dashboard-volumn" routerLinkActive="active">
                  <a routerLink="AssemblyInstruction/list">
                    <div class="col-sm-12 no-padding">
                      <div class="col-sm-3 no-padding dashboard-volumn-lst">
                          <i class="fa fa-sticky-note" aria-hidden="true"></i>
                      </div>
                      <div class="col-sm-9 no-padding dashboard-volumn-lst">
                        <p>No. 522</p>
                        <h3>Assembly Instruction</h3>
                      </div>
                    </div>
                  </a>
                </div>
            </div>

          </div>
        </div>
        <!-- <app-filters></app-filters> -->
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>
