<app-filters (filterDates)='getPOAuthList($event)'></app-filters>
<p-panel header="PO Authentication" class="Tabledata">
  <p-header>
      <button pButton type="button" style="float:right" [disabled]="!POAuthList || POAuthList.length < 1" label="Authorise" class="ui-button-success" (click)="DoAutherize()"></button>
      <button pButton type="button" style="float:right" icon="fa fa-trash-o" label="Delete" class="ui-button-danger"></button>
      <button pButton type="button" style="float:right" icon="fa fa-print" label="Print" class="ui-button-info"></button>
    </p-header>
  <div *ngIf="POAuthList" class="table-responsive">
      <table class="table">
          <thead>
          <tr>
              <th>S. No.</th>
              <th width="15%">Doc Date</th>
              <th width="15%">Doc No.</th>
              <th width="15%">Ledger Name</th>
              <th width="15%">Due Date</th>
              <th width="15%">Amount</th>
              <th width="15%">Status</th>
              <th width="10%"><p-checkbox name="groupname" value="" ></p-checkbox> Select All</th>
          </tr>
          </thead>
          <tbody>
          <ng-container>
              <tr *ngFor="let item of POAuthList; index as i;">
                  <td>{{i+1}}</td>
                  <td>{{item.transactionDate}}</td>
                  <td>{{item.transactionNo}}</td>
                  <td>{{item.ledgerName}}</td>
                  <td>{{item.transactionDueDate}}</td>
                  <td>{{item.transaction_Amount}}</td>
                  <td>{{item.authStatus}}</td>
                  <td style="border-right: 1px solid #ccc;" *ngIf="item.transactionAuthStatusID == 1">
                    <p-checkbox name="groupname" value="val2" (onChange)="createFormData(item, $event)" ></p-checkbox>
                </td>
                  <td style="border-right: 1px solid #ccc;" *ngIf="item.transactionAuthStatusID == 4">
                    <button pButton type="button" label="Unauthorise" class="ui-button-rounded ui-button-info smallBtn" (click)="showDialog(item)">
                    </button>
                  </td>
              </tr>
          </ng-container>
          </tbody>
      </table>
  </div>
  <div  *ngIf="!POAuthList || POAuthList.length < 1" style="text-align: center">
    <br/>
    No Records available !
    <br/><br/>
  </div>

</p-panel>


<p-dialog header="PO Unauthentication Dialog" [(visible)]="display" [modal]="true" [responsive]="true" [width]="350" [minWidth]="200" [minY]="70"
[maximizable]="true" [baseZIndex]="10000" >

  <form [formGroup]="unauthenticationForm">
      <textarea placeholder="Reasons for Unauthentication." pInputTextarea formControlName = "AuthRemarks" style="width:100%; margin-bottom:10px;" ></textarea>
      <p-footer style="text-align: right; display: block; ">
        <button type="button" pButton icon="pi pi-close"  (click)="display=false" label="No" class="ui-button-secondary"></button>
        <button type="button" pButton icon="pi pi-check" [disabled]="!unauthenticationForm.valid" label="OK" (click)="DoUnAutherize(); display=false"></button>
      </p-footer>
  </form>
</p-dialog>
